body {
  overflow-x: hidden; /* ховає скрол */
}

.js-form-btn{
    font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border-radius: 8px;
padding: 8px 16px;
width: 91px;
height: 40px;
border: none;
background-color: #4e75ff;
}

.js-form-btn:hover{
    background-color: #6c8cff;
}

.js-form-inpt{
    width: 272px;
height: 36px;
border-radius: 4px;
width: 272px;
height: 40px;
border: 1px solid gray;
}


.form{
    margin: 0 auto;
}

.form-container{
    display: flex;
    gap: 8px;
    margin: 0 auto;
    margin-bottom: 36px;
}

.loader {
margin: auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #ff3d00 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #f9f9f9;
}
@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg)}
} 


.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

}

.gallery-container{
  display: flex;
}

.gallery-item{
  border: 1px solid grey;
  border-radius: 4px;

}

.gallery-image {
  width: 360px;
  height: 200px;

}


.info{
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}

.info p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hiden{
  display: none;
}