.container-form {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.submit-btn {
  width: 228px;
  border-radius: 4px;
  border: 1px solid black;
  height: 24px;
}

.form-label {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.input-delay {
  height: 24px;
  width: 220px;
  border-radius: 4px;
  border: 1px solid black;
}

.form-fieldset {
  width: 200px;
  display: flex;
  gap: 16px;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid black;
}
