.container-timer {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.timer-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
}

.timer-btn:hover {
  background-color: #6c8cff;
}

.btn-container {
  display: flex;
  margin-bottom: 32px;
}

#datetime-picker {
  width: 200px;
  border-radius: 4px;
  margin-right: 8px;
}

.inactive {
  pointer-events: none;
  cursor: not-allowed;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
  background-color: #cfcfcf;
}
